flows (2).json
[{"id":"65551cfe.f67ca4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2d0fe2f8.77384e","type":"ibmiot in","z":"65551cfe.f67ca4","authentication":"apiKey","apiKey":"a8a295bc.6da7f8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1208","applicationId":"","deviceType":"esp32","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":"","allApplications":"","allDeviceTypes":"","allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":130,"y":160,"wires":[["a471a5b4.f9f068","47b6fbaf.6eb9c4","daab61a6.3577d","9848b3fa.09f3c"]]},{"id":"daab61a6.3577d","type":"function","z":"65551cfe.f67ca4","name":"LEVEL","func":"global.set('level',msg.payload.level)\nmsg.payload=msg.payload.level\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":510,"y":140,"wires":[["f0ca03d9.52e6","d78baeb8.56105"]]},{"id":"a471a5b4.f9f068","type":"function","z":"65551cfe.f67ca4","name":"LITERS","func":"global.set('lubrication',msg.payload.lubrication)\nmsg.payload=msg.payload.lubrication\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":200,"wires":[["46c53a7f.d09644","4d30d844.4680a8"]]},{"id":"47b6fbaf.6eb9c4","type":"debug","z":"65551cfe.f67ca4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":610,"y":40,"wires":[]},{"id":"b8c8121e.849be","type":"function","z":"65551cfe.f67ca4","name":"web page","func":"msg.payload={\n    \n    \"level\":global.get('level'),\n    \"lubrication\":global.get('lubrication')\n}\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":260,"wires":[["effd4740.6759c8"]]},{"id":"f71ed907.d24628","type":"http in","z":"65551cfe.f67ca4","name":"","url":"/data","method":"get","upload":false,"swaggerDoc":"","x":260,"y":260,"wires":[["b8c8121e.849be"]]},{"id":"effd4740.6759c8","type":"http response","z":"65551cfe.f67ca4","name":"","statusCode":"","headers":{},"x":830,"y":260,"wires":[]},{"id":"cf4bf9bc.3edfe8","type":"ibmiot out","z":"65551cfe.f67ca4","authentication":"apiKey","apiKey":"f91c268e.efa9f8","outputType":"cmd","deviceId":"1208","deviceType":"esp32","eventCommandType":"click","format":"json","data":"command","qos":0,"name":"IBM IoT","service":"registered","x":880,"y":460,"wires":[]},{"id":"8b5fb4bc.2836e8","type":"ui_button","z":"65551cfe.f67ca4","name":"","group":"eef9f91f.7f0128","order":3,"width":0,"height":0,"passthru":false,"label":"PUMP OFF","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"COMMAND\":\"PUMPOFF\"}","payloadType":"json","topic":"topic","topicType":"msg","x":330,"y":460,"wires":[["cf4bf9bc.3edfe8"]]},{"id":"27df824.90ce67e","type":"http in","z":"65551cfe.f67ca4","name":"","url":"/command","method":"get","upload":false,"swaggerDoc":"","x":180,"y":620,"wires":[["7151b843.50b9c8"]]},{"id":"da9cf0a4.31964","type":"debug","z":"65551cfe.f67ca4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":730,"y":560,"wires":[]},{"id":"2c87bb04.352c74","type":"http response","z":"65551cfe.f67ca4","name":"","statusCode":"","headers":{},"x":650,"y":620,"wires":[]},{"id":"7151b843.50b9c8","type":"function","z":"65551cfe.f67ca4","name":"","func":"msg.payload=msg.payload.command\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":620,"wires":[["da9cf0a4.31964","2c87bb04.352c74","cf4bf9bc.3edfe8"]]},{"id":"46c53a7f.d09644","type":"switch","z":"65551cfe.f67ca4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"4500","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":550,"y":360,"wires":[["312ed332.b03d2c"]]},{"id":"312ed332.b03d2c","type":"function","z":"65551cfe.f67ca4","name":"","func":"msg.payload=\"OFF THE PUMP LEVEL IS HIGH\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":700,"y":380,"wires":[["ae98ddf5.5be6e"]]},{"id":"ae98ddf5.5be6e","type":"ui_toast","z":"65551cfe.f67ca4","position":"bottom right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":900,"y":380,"wires":[]},{"id":"4d30d844.4680a8","type":"ui_gauge","z":"65551cfe.f67ca4","name":"","group":"eef9f91f.7f0128","order":3,"width":0,"height":0,"gtype":"wave","title":"LITERS","label":"units","format":"{{value}}","min":0,"max":"5000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":870,"y":220,"wires":[]},{"id":"a7c6bf62.83dcf","type":"ui_button","z":"65551cfe.f67ca4","name":"","group":"eef9f91f.7f0128","order":2,"width":0,"height":0,"passthru":false,"label":"PUMP ON","tooltip":"","color":"","bgcolor":"","icon":"","payload":"{\"COMMAND\":\"PUMPON\"}","payloadType":"json","topic":"topic","topicType":"str","x":370,"y":400,"wires":[["cf4bf9bc.3edfe8"]]},{"id":"9848b3fa.09f3c","type":"function","z":"65551cfe.f67ca4","name":"","func":"msg.payload=\n{\n    \"level\":msg.payload.level,\n    \"lubrication\":msg.payload.lubrication\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":720,"y":100,"wires":[["d07e391f.3ed0f8"]]},{"id":"d07e391f.3ed0f8","type":"cloudant out","z":"65551cfe.f67ca4","name":"","cloudant":"","database":"project","service":"esp32-nodered-cloudant-1621487382323-320","payonly":false,"operation":"insert","x":890,"y":80,"wires":[]},{"id":"f0ca03d9.52e6","type":"ui_chart","z":"65551cfe.f67ca4","name":"","group":"eef9f91f.7f0128","order":3,"width":0,"height":0,"label":"level","chartType":"bar","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"200","ymax":"800","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"1","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":890,"y":160,"wires":[[]]},{"id":"d78baeb8.56105","type":"switch","z":"65551cfe.f67ca4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"lt","v":"250","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":640,"y":300,"wires":[["6171fda4.578104"]]},{"id":"6171fda4.578104","type":"function","z":"65551cfe.f67ca4","name":"","func":"msg.payload=\"ON THE PUMP LEVEL IS LOW\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":790,"y":320,"wires":[["65638ded.45cc84"]]},{"id":"65638ded.45cc84","type":"ui_toast","z":"65551cfe.f67ca4","position":"top right","displayTime":"3","highlight":"","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":1030,"y":320,"wires":[]},{"id":"a8a295bc.6da7f8","type":"ibmiot","name":"gcet","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"f91c268e.efa9f8","type":"ibmiot","name":"gcet","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"eef9f91f.7f0128","type":"ui_group","name":"Default","tab":"3eee755a.d3252a","order":1,"disp":true,"width":"6","collapse":false},{"id":"3eee755a.d3252a","type":"ui_tab","name":"simulator","icon":"dashboard","disabled":false,"hidden":false}]